@model Database_5.EF.Tables.Author

@{
    ViewData["Title"] = "Edit Author";
}

<h2>Edit Author</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    
    <div class="form-group mt-2">
        <label asp-for="Age" class="control-label"></label>
        <input asp-for="Age" class="form-control" type="number" />
    </div>
    
    <div class="form-group mt-3">
        <input type="submit" value="Save" class="btn btn-warning" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>
